.searchResultMin{
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer; 
}



.searchResultMin .searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResultMin .searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResultMin .searchResult__heart-liked {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #FF385C;
}



.searchResultMin .searchResult__infoTop {
    width: 40vw;
}

.searchResultMin .searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: -8px;
}


.searchResultMin .searchResult__infoTop > p {
    font-size: 16px;
    color: gray;
}


.searchResultMin .searchResult__infoTop p:last-child {
    margin-top: 5px; 
    width: 70%; 
    line-height: 22px; 
}
  
.searchResultMin .searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}


.searchResultMin .searchResult__star {
    color: #FF385C;
    transform: scale(.8);
}


.searchResultMin .searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResultMin .searchResults__price > p {
    text-align: right;
  }

  .searchResultMin .searchResults__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.searchResultMin .searchResults__price span{
    font-weight: normal;
}

.searchResultMin .searchResults__price p{
    text-decoration: underline;
    color:#808080; 
}



@media only screen and (max-width: 850px) {
    .searchResultMin .searchResult__heart {


        right: 0px;
    }
    
    .searchResultMin .searchResult__heart-liked {
        position: absolute;

        right: 0px;

    }
    
}


@media only screen and (max-width: 700px) {
    .searchResultMin .searchResult__heart {


        right: 0px;
    }
    
    .searchResultMin .searchResult__heart-liked {
        position: absolute;

        right: 0px;

    }
    
}

