.banner {
    height: 50vh;
    width: 100%;
    display: relative;
    margin-bottom: 20px;
}




.banner__imgInfoContainer{
    width: 100%;
    height: 100%;
    position: relative;

}

.banner__info{
    position: absolute;
    color: #222222;
    width: 30%;
    /* padding-top: 25vh; 
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px; */
    bottom: 20%;
    left: 5%;
}

.banner__info h1 {
    font-size: 45px;
}

.banner__info h5 {
    font-size: 30px;
    font-weight: normal;
}


.banner__imgContainer{

    height: 100%;
    width: 100%;

}
.banner__imgInfoContainer > img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}



.banner__searchButton{ /*The import property is require on material-ui with class-names */
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit in !important;
    color: #ff7779 !important;
}


.banner__info > button {
    background-color: #ff7779;
    color: white;
    /* all of the text from material UI is cap we use inherit to remove the uppercase.  */
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    transition: .8s all;
}


.banner__info > button:hover {
    color: #ff7779;
    background-color: white;
    /* all of the text from material UI is cap we use inherit to remove the uppercase.  */
    transition: .8 all;
   
}

.banner__info > h5 {
    margin-top: 10px;
}






@media only screen and (max-width: 700px) {
    .banner__info{

        bottom: 20%;
        left: 5%;
        width: 40%;
    }

    
}



@media only screen and (max-width: 400px) {

    .banner__info{

        bottom: 20%;
        width: 70%;
    }



    
     .banner__info > h1 {
         font-size: 30px;
     }

    
}

