.searchMin{
    position: absolute; 
    top: 80px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: white;
    z-index: 2; 
    height: 450px;
}

.searchMin form > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 328px;
    padding: 10px; 
    background-color: white;
    position: absolute; 
    left: 0; 
    top: 330px; 
}

.searchMin form > input[type="number"] {
    width:  320px; 
    padding: 5px 15px; 
    position: absolute; 
    left: 0; 
    height: 20px;
    top: 390px; 
    border: none; 
}

.searchMin form > input[type="number"]:focus{
    outline-width: 0;
}


.searchMin  form > input[type="submit"]{
    position: absolute;
    left: 0; 
    top: 430px; 
    text-transform: inherit !important; 
    background-color: #ff7779;
    color: white; 
    width: 100%;
    transition: .5s all;
    border: none; 
    padding: 10px;
    border-radius: 5px;
}

.searchMin form > input[type="submit"]:hover {
    background-color: white;
    color: #ff7779; 
    transition: .5s all;
}