.stayMin__container{
    width: 100%;  
    margin: 0 auto;
    
}

.stayMin__innerContainer{
    width: 93%;  
    margin: 0 auto;
    
}

.stayMin__innerContainer > h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

.stayMin__reviewLocationShareLikeContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;




}

.stayMin__reviewLocationContainer{
    display: flex;
    align-items: center;
}

.stayMin__superHostHeaderContainer{
    display: flex;
    align-items: center;
}

.stayMin__superHostHeaderContainer span{
    padding-left: 5px;
    padding-right: 10px;
}

.stayMin__hotIconHeader{
    transform: scale(.8);
    color:#FF385C;
    padding-right: 5px;
    padding-left: 3px;
}

.stayMin__star{
    color: #FF385C;
    transform: scale(.8);
}

.stayMin__shareLikeContainer{
    display: flex;
    align-items: center;

}

.stayMin__reviewLocationContainerSpam1{
    color:#717171; 
    padding-left: 5px;
}

.stayMin__reviewLocationContainerSpam2{
  color:#3E3E3E; 
  text-decoration: underline;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 25px; 
  display: block;  
  margin-top: -5px;
}

.stayMin__deck, .stayMin__liked, .stayMin__notLiked {
    transform: scale(.8);
}


.stayMin__deck, .stayMin__notLiked, .stayMin__shareLikeContainer > p {
    color: #3E3E3E;
    text-decoration: underline;
    

}

.stayMin__liked{
   color: #FF385C; 
}

.stayMin__shareLikeContainer > p{
    margin-right: 10px;
    margin-left: 3px;
}








.stayMin__detailInfoContainer{

    width: 100%;
    margin-top: 20px;
}

/* .stayMin__detailInfo{
  
    margin-right: 80px;
    width: 1746px;
} */

.stayMin__info1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 25px;
}

.stayMin__infoInner h2{
    font-weight: 600;
    padding-bottom: 5px;
}

.stayMin__hostImg{
    width: 60px;
    height: 60px; 
    min-width: 60px;
}

.stayMin__info1 img{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.stayMin__info2{
    padding-top: 30px;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 30px;
}

.stayMin__info2 ul li:last-child{
    padding-top: 6px;
    
}

.stayMin__info3{
    padding-top: 30px;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 30px;
}



.stayMin_info3 > h2 {
    margin-bottom: 25px;
}







/* Checkout styles */

.stayMin__checkOutContainer{
    height: 227px;
    padding: 24px; 
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 0px 20px -13px #000000;
}

.stayMin__priceStars{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
}

.stayMin__priceStars > p {
    font-size: 22px;
}


.stayMin__priceStars span{ 
    font-weight: bold;
}

.stayMin__checkInCheckOutGuestContainer{
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 15px;
}



.stayMin__checkInCheckOutContainer{
    width: 46.84%;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3%;

}

.stayMin__checkInCheckOutContainer > h5 {
    font-size: 10px;
    margin-bottom: 3px;
}

.stayMin__checkInCheckOutContainer > p {
    color: #8A8A8A; 
}

.stayMin__vl{
    height: 50px;
    border-left: 1px solid rgb(185, 185, 185); 
}


.stayMin__guestsContainer{
    width: 100%; 
    padding-left: 3%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3%;
}

.stayMin__guestsContainerInnerContainer{
    display: flex;
    margin-top: 2px;
    justify-content: space-between;
    align-items: center;
}

.stayMin__guestsContainerInnerContainer > p{
    color: #8A8A8A; 
}

.stayMin__expandMoreIcon{
    transform: scale(1.4);
    color: #303030; 
}

.stayMin__checkOutContainer button{
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #FF385C , #b92275);
    color: white;
    font-weight: 600;
    font-size: 15px;
}

/* Checkout styles avaliable dates and guests */

.stayMin__totalContainer {
    text-align: center;
}

.stayMin__totalContainer > p {
    color: #707070;
    padding: 15px 0; 
}

.stayMin__totalPriceContainer,
.stayMin__cleaningFee,
.stayMin__serviceFee,
.stayMin__taxesFee,
.stayMin__allFeesContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: #494949;
}

.stayMin__totalPriceContainer > p:first-child,
.stayMin__cleaningFee > p:first-child,
.stayMin__serviceFee > p:first-child,
.stayMin__taxesFee > p:first-child{
    text-decoration: underline;
}

.stayMin__taxesFee{
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 17px;
}

.stayMin__allFeesContainer{
    padding-top: 15px;
    font-weight: bold;
}









.stayMin__superHostContainer{
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 30px;
}


.stayMin__superHostInner{
    display: flex; 
    margin-top: 30px;
}

.stayMin__hotIcon{
    margin-right: 15px;
    color: #616161;
}

.stayMin__superHostContainer > p{
    padding-top: 10px;
    padding-left: 38px;
    color: #8A8A8A;
}





@media only screen and (max-width: 1000px) {

    .stayMin__checkOutContainer{
       min-width: 209px
    }
    
    
    .stayMin__checkInCheckOutContainer{
        width: 46.5%;
    }

    .stayMin__reviewLocationContainer{
        font-size: 14px;
    }
}


@media only screen and (max-width: 800px) {

    .stayMin__reviewLocationContainer{
        font-size: 14px;
    }
}




