.search{
    position: absolute; 
    top: 135px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: white;
    z-index: 2; 
    height: 500px;
}

.search form > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px; 
    background-color: white;
    position: absolute; 
    left: 0; 
    top: 380px; 
}

.search form > input[type="number"] {
    width:  539px; 
    padding: 20px; 
    position: absolute; 
    left: 0; 
    height: 30px;
    top: 420px; 
    border: none; 
}

.search form > input[type="number"]:focus{
    outline-width: 0;
}


.search  form > input[type="submit"]{
    position: absolute;
    left: 0; 
    top: 480px; 
    text-transform: inherit !important; 
    background-color: #ff7779;
    color: white; 
    width: 579px;
    transition: .5s all;
    border: none; 
    padding: 10px;
    border-radius: 5px;
}

.search form > input[type="submit"]:hover {
    background-color: white;
    color: #ff7779; 
    transition: .5s all;
}